.item{
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 0.5px solid #999;
    border-bottom: 0.5px solid #999;
}
.item .content{
    flex:1;
    margin-left: 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.item .check{
    margin-left: 5px;
}
.item .btns{
    margin-right: 5px;
    display: flex;
}
.item .btns .ant-btn{
    margin-left: 5px;
}
